@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Roboto Slab", serif;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 0 !important;
  border: 1px solid black;
  width: 100px;
  height: 4px;
}

p {
  margin-bottom: 0 !important;
}

table {
  margin: 0;
  margin-bottom: 0 !important;
}

@media print {
  body {
    width: 100%;
  }

  .header-excavator {
    font-size: 20px !important;
  }
}

.table-abu {
  background-color: #bdcbe2 !important;
}

.bg-table-form {
  background-color: #C7D5A4 ;
}

/* Styling Excavator Control */
.header-excavator {
  font-size: 30px;
}

.bg-w .pr-2 {
  padding-right: 10px;
}

.pl-3 {
  padding-left: 40px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-1 {
  padding-left: 9%;
}

.mt-6 {
  margin-top: 36px;
}

/* Styling Daftar Periksa Alat Angkut Barang */
.header-pt {
  font-size: 16px;
}

hr.solid {
  border-top: 3px solid rgb(57, 57, 57) !important;
}

.text-alat {
  font-size: 14px;
}

.text-base {
  font-size: 14px;
}

.text-serif {
  font-family: var(--second-font);
}

.text-normal {
  font-family: var(--main-font);
}

.header-alat-angkut {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.table > :not(caption) > * > * {
  padding: 0 !important;
}

.header-table {
  font-size: 24px;
  font-weight: 800;
}

/* Styling Report For Pit Service Activity */
.header-report-pit {
  font-size: 26px;
  text-align: center;
}

.header-table-pit {
  font-size: 20px;
  font-weight: 400;
}

.mb-9 {
  margin-bottom: 60px !important;
}

.mb-6 {
  margin-bottom: 34px;
}

.text-lg {
  font-size: 14px;
}

.text-xl {
  font-size: 20px;
}

.text-bottom {
  font-size: 13px;
}

.text-bottom-left {
  margin-left: 510px;
}

/* Styling Handover Production Report */
.header-report-production {
  font-size: 30px;
  text-align: center;
}

.header-report-production {
  font-size: 30px;
  text-align: center;
}

.header-table-production {
  font-size: 18px;
  text-align: center;
}

.header-table-production2 {
  font-size: 14px;
  text-align: center;
}

/* Styling Handover Production Report */
.mt-7 {
  margin-top: 22px !important;
}

.h-10 {
  height: 20px !important;
}

.mb-7 {
  margin-bottom: 40px;
}

hr .production {
  width: 400px !important;
}

.header-production-control {
  font-size: 32px;
  text-align: center;
  font-weight: 800;
}

.header-table-product {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

/* Styling Road Maintenance Handover */
.header-road {
  font-size: 19px;
}

/* Styling Daftar Periksa Group Leader */
.header-leader {
  font-size: 18px;
  font-weight: 900;
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
}

/* Styling CONTROL ACTIVITY COAL GETTING */
.header-coal-getting {
  font-size: 26px;
  text-align: center;
  font-weight: 900;
}

.mb-8 {
  margin-bottom: 60px;
}

.pl-4 {
  padding-left: 34%;
}

.pl-5 {
  padding-left: 10%;
}

.header-table-coal {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.header-table-coal2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

/* Styling DAFTAR PERIKSA KONTAMINASI ALAT LOADING/CLEANING */
.header-alat-loading {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
}

/* Styling WorkOrderActionReport */
.header-table-action {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.header-table-action2 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.text-base {
  font-size: 16px;
  font-weight: 400;
}

/* Styling CHECK LIST AKTIVITAS PELEDAKAN */
.header-check {
  font-size: 26px;
  text-align: center;
}

/* Styling Drill Design */
.header-drill {
  font-size: 40px;
  text-align: center;
}

.header-drill2 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
