@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --second-font: "Playfair Display", serif;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 0 !important;
  border: 1px solid black;
  width: 100px;
  height: 4px;
}

p {
  margin-bottom: 0 !important;
}

/* Styling Excavator Control */
.header-excavator {
  font-size: 30px;
}

.bg-w .pr-2 {
  padding-right: 10px;
}

.pl-3 {
  padding-left: 40px;
}

.pl-2 {
  padding-left: 20px;
}

.mt-6 {
  margin-top: 36px;
}

/* Styling Daftar Periksa Alat Angkut Barang */
.header-pt {
  font-size: 16px;
}

hr.solid {
  border-top: 3px solid rgb(57, 57, 57) !important;
}

.text-alat {
  font-size: 14px;
}

.text-base {
  font-size: 14px;
}

.text-serif {
  font-family: var(--second-font);
}

.header-alat-angkut {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.table > :not(caption) > * > * {
  padding: 0 !important;
}

.header-table {
  font-size: 24px;
  font-weight: 800;
}

/* Styling Report For Pit Service Activity */
.header-report-pit {
  font-size: 26px;
  text-align: center;
}

.header-table-pit {
  font-size: 20px;
  font-weight: 400;
}

.mb-6 {
  margin-bottom: 34px;
}

.text-lg {
  font-size: 14px;
}

.text-bottom {
  font-size: 13px;
}

.text-bottom-left {
  margin-left: 510px;
}

/* Styling Handover Production Report */
.header-report-production {
  font-size: 30px;
  text-align: center;
}

.header-report-production {
  font-size: 30px;
  text-align: center;
}

.header-table-production {
  font-size: 18px;
  text-align: center;
}

.header-table-production2 {
  font-size: 14px;
  text-align: center;
}

/* Styling Handover Production Report */
.mt-7 {
  margin-top: 22px !important;
}

.mb-7 {
  margin-bottom: 40px;
}

hr .production {
  width: 400px !important;
}

.header-production-control {
  font-size: 32px;
  text-align: center;
  font-weight: 800
}

.header-table-product {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

/* Styling Road Maintenance Handover */
.header-road {
  font-size: 19px;
}